@import url('https://fonts.googleapis.com/css?family=Limelight&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Special+Elite');

    .container {
      font-size: 25px;
    }

    h1 {
      font-style: oblique;
      font-size: 50px;
      background: url("../images/marq5.png");
      background-repeat: repeat-y;
      background-size: contain;
      background-position: top;
      text-align: center;
      margin: auto;
      width: 700px;
      height: auto;
      color: black;
      padding: 40px;
      text-shadow: 3px 3px 3px yellow;
      -webkit-animation: glow 1s ease-in-out infinite alternate;
      -moz-animation: glow 1s ease-in-out infinite alternate;
      animation: glow 1s ease-in-out infinite alternate;
    }

    @keyframes glow {
      from {
        text-shadow: 0 0 20px yellow, 0 0 30px yellow, 0 0 40px yellow;
        color: rgb(14, 12, 0);
      }

      to {
        text-shadow: 0 0 20px transparent, 0 0 30px transparent, 0 0 40px transparent;
        color: rgba(88, 79, 16, 0.904);
      }
    }

    @keyframes flash {
      from {
        outline: solid transparent;
      }

      to {
        outline: solid yellow;
      }
    }

    
    button,
    form,
    input {
      margin: 10px;
      text-shadow: 2px 2px 2px yellow;
      font-family: 'Limelight', cursive;
      text-align: center;
    }
    
    body {
      background-image: url("../images/clap.jpg");
      background-repeat: round;
      background-attachment: fixed;
      background-size: contain;
      color: black;
      text-shadow: 2px 2px yellow;
      font-family: 'Limelight', cursive;
    }
    
    button {
      background: url("../images/copper.jpg");
      background-size: contain;
      color: rgb(10, 10, 10);
      text-shadow: 2px 2px 3px yellow;
      text-transform: capitalize;
      font-size: 45px;
      text-align: center;
      cursor: pointer;
    }
    
    #add-movie {
      background: url("../images/copper.jpg");
      background-size: contain;
      color: black;
      text-shadow: 3px 3px 3px yellow;
      display: inline-block;
    }

    #add-movie:enabled {
      -webkit-animation: flash 1s ease-in-out infinite alternate;
      -moz-animation: flash 1s ease-in-out infinite alternate;
      animation: flash 1s ease-in-out infinite alternate;
    }
    
    #movie-input {
      background: rgb(117, 19, 19);
      font-size: 50px;
      color: yellow;
      text-shadow: 2px 2px 2px red;
      text-transform: capitalize;
      display: inline-block;
    }
    
    #movie-input:invalid {
      border: ridge whitesmoke;
    }

    #movie-input:valid {
      border: ridge yellow;
    }
    
    .info {
      font-size: 20px;
      padding: 40px;
      text-align: center;
      word-wrap: normal;
      background: white;
      border-radius: 5px;
    }
    
    #input-label {
      display: block;
      color: yellow;
      text-shadow: 1px 1px 1px red;
    }
    
    #movie-form {
      text-align: center;
      padding: 20px;
    }
    
    .sign {
      background: url("../images/black-strip.png");
      background-size: contain;
      background-position-x: center;
      background-position-y: center;
      background-clip: content-box;
      margin-bottom: 50px;
    }
    
    #details {
      color: yellow;
      font-size: 30px;
      text-shadow: 2px 2px 1px red;
      margin-left: 10px;
      margin-right: 10px;
      padding: 30px;
      background: url("../images/marq3.gif"), white;
      background-size: contain;
      background-repeat: round;
      border-radius: 15px;
    }
    
    .poster {
      padding: 10px;
      background: url("../images/marq3.gif"), black;
      background-blend-mode: multiply screen;
      background-clip: padding-box;
      background-size: contain;
      max-height: 500px;
      min-height: 400px;
    }
    
    .title {
      background: url("../images/marq3.gif"), white;
      background-blend-mode: multiply screen;
      background-clip: border-box;
      background-size: 100% 100%;
      text-transform: uppercase;
      font-size: 45px;
      border-radius: 10px;
    }
    
    #buttons-view {
      text-align: center;
    }
    
    #movies-view {
      text-align: center;
    }
    
    .jumbotron {
      background: transparent;
    }
    
    p {
      color: whitesmoke;
      font-family: "Special Elite", sans-serif;
      background: rgba(8, 8, 8, 0.096);
    }

    h2 {
      background: rgba(0, 0, 0, 0.829);
    }
    